# Hi :)

----

In [59]:
# n= int(input('How many people you? '))

names= ['erfan', 'majid', 'mamad', 'seyed']
# names= []
# for i in range(n):
#     name= input(f"Please enter the name of person number {i + 1}: ").lower()
#     names.append(name)
# names= sorted(names)

total_amount= {name : {} for name in names}
for i in range(len(names)):
    ls= names.copy()
    del ls[i]
    for name in ls:
        total_amount[names[i]][name]= 0

expenses= []
# while True:
#     answer= input('Do you have new expense?(y/n) ').lower()
#     if answer == 'y':
#         person= input('Who did pay? ').lower()
#         fee= float(input('How much was it? '))
#         ins= []
#         for name in names:
#             ans= input(f"Is {name} involved?(y/n) ").lower()
#             if ans == 'y':
#                 ins.append(name)
#         expenses.append([person, fee, ins])
#     else:
#         break
expenses.append(['erfan', 200, ['erfan', 'mamad']])
expenses.append(['seyed', 400, ['majid', 'seyed']])
expenses.append(['majid', 200, ['erfan', 'mamad', 'seyed']])
expenses.append(['mamad', 2000, ['erfan', 'majid', 'mamad', 'seyed']])

In [60]:
names

['erfan', 'majid', 'mamad', 'seyed']

In [61]:
total_amount

{'erfan': {'majid': 0, 'mamad': 0, 'seyed': 0},
 'majid': {'erfan': 0, 'mamad': 0, 'seyed': 0},
 'mamad': {'erfan': 0, 'majid': 0, 'seyed': 0},
 'seyed': {'erfan': 0, 'majid': 0, 'mamad': 0}}

In [62]:
expenses

[['erfan', 200, ['erfan', 'mamad']],
 ['seyed', 400, ['majid', 'seyed']],
 ['majid', 200, ['erfan', 'mamad', 'seyed']],
 ['mamad', 2000, ['erfan', 'majid', 'mamad', 'seyed']]]

In [63]:
for expense in expenses:

    person= expense[0]
    fee= expense[1]
    invs= expense[2]

    amount= round(fee / len(invs), 2)

    ls= invs.copy()
    if person in invs:
        del ls[ls.index(person)]
    
    for name in ls:
        total_amount[name][person] += amount

In [64]:
total_amount

{'erfan': {'majid': 66.67, 'mamad': 500.0, 'seyed': 0},
 'majid': {'erfan': 0, 'mamad': 500.0, 'seyed': 200.0},
 'mamad': {'erfan': 100.0, 'majid': 66.67, 'seyed': 0},
 'seyed': {'erfan': 0, 'majid': 66.67, 'mamad': 500.0}}

In [65]:
for name in names:
    for person, amount in total_amount[name].items():
        if (amount != 0) & (total_amount[person][name] != 0):
            if amount > total_amount[person][name]:
                total_amount[name][person]= round(amount - total_amount[person][name], 2)
                total_amount[person][name]= 0
            else:
                total_amount[person][name]= round(total_amount[person][name] - amount, 2)
                total_amount[name][person]= 0

In [66]:
total_amount

{'erfan': {'majid': 66.67, 'mamad': 400.0, 'seyed': 0},
 'majid': {'erfan': 0, 'mamad': 433.33, 'seyed': 133.33},
 'mamad': {'erfan': 0, 'majid': 0, 'seyed': 0},
 'seyed': {'erfan': 0, 'majid': 0, 'mamad': 500.0}}

In [67]:
import pandas as pd

df= pd.DataFrame(total_amount)
df.sort_index(inplace= True)
df.fillna(0, inplace= True)
df

        erfan   majid  mamad  seyed
erfan    0.00    0.00    0.0    0.0
majid   66.67    0.00    0.0    0.0
mamad  400.00  433.33    0.0  500.0
seyed    0.00  133.33    0.0    0.0

In [68]:
for name in names:
    print(name)
    print(df[df.index != name][name], '\n')

erfan
majid     66.67
mamad    400.00
seyed      0.00
Name: erfan, dtype: float64

majid
erfan      0.00
mamad    433.33
seyed    133.33
Name: majid, dtype: float64

mamad
erfan    0.0
majid    0.0
seyed    0.0
Name: mamad, dtype: float64

seyed
erfan      0.0
majid      0.0
mamad    500.0
Name: seyed, dtype: float64